.reservations-list {
    background-color: #3C3E46;
    padding: 1em;
    overflow-y: scroll;
}
.room-projection {
    padding: 16px;
    overflow-y: scroll;
    position: relative;
}
.top-bar {
    background-color: #282A30;
    height: 48px;
}