.reservations-list {
    background-color: #3C3E46;
    padding: 1em;
    overflow-y: scroll;
}
.room-projection-top-bar {
    padding: 0.7em;
    background-color: #282A30;
}
.new-reservation-text {
    margin: 2px 0 0 0.2em;
}
