<div>
    <div fxFlexFill>
        <app-reservations-date-selection fxFlex="60%"></app-reservations-date-selection>
        <app-reservations-meal-selection class="reservations-date" fxFlex="40%"></app-reservations-meal-selection>
    </div>
   
    <input class="search-field" fxFlexFill placeholder="Znajdź rezerwację..." [(ngModel)]="searchQuery"/>
    <div class="sublist-header-container">
        <h5 class="blue-header-color sublist-header">ZAJĘTE</h5>
        <div class="guests-sum-container">
            <mat-icon class="blue-header-color">person_outline</mat-icon>
            <h5 class="blue-header-color guests-sum-text">{{occupiedGuestsSum}}</h5>
        </div>        
    </div>
    <ul class="reservations-list">
        <li *ngFor="let reservation of occupied | searchFilter: searchQuery" fxLayout="row" 
            class="reservations-list-element"
            [class.selected]="reservation === selectedReservation"
            (click)="reservationClicked(reservation)">
            <div fxFlex="auto" fxLayoutAlign="center center">
                <div class="hour" fxLayoutAlign="center center">
                    <h3 class="font-light text-white">12:30</h3>
                </div>
            </div>
            <div fxFlex="80%" class="info-container" fxLayout="column"  fxLayoutAlign="center start">
                <p>{{reservation.name}}</p>
                <p class="font-light">{{reservation.phoneNumber}}</p>
                <p class="font-light font-small">{{reservation.numberOfGuests}} gości</p>
            </div>
            <div fxFlex="20%" fxLayout="column" fxLayoutAlign="space-between end" class="additional-info-container">
                <div class="table-info-container vacant-color" fxLayoutAlign="center center">
                    <h5 class="vacant-color">S{{reservation.seatedAtTable}}</h5>
                </div>
                <div fxLayoutAlign="end end" class="special-icons-container">
                    <mat-icon *ngIf="reservation.isSpecial" class="special-guest-icon">star</mat-icon>
                    <mat-icon *ngIf="reservation.isVegan" class="vegan-menu-icon">local_florist</mat-icon>
                </div>
                
            </div>
        </li>
    </ul>
    <div class="sublist-header-container">
        <h5 class="blue-header-color sublist-header">NADCHODZĄCE</h5>
        <div class="guests-sum-container">
            <mat-icon class="blue-header-color">person_outline</mat-icon>
            <h5 class="blue-header-color guests-sum-text">{{upcomingGuestsSum}}</h5>
        </div>        
    </div>
    <ul class="reservations-list">
        <li *ngFor="let reservation of upcoming | searchFilter: searchQuery" fxLayout="row" 
            class="reservations-list-element"
            [class.selected]="reservation === selectedReservation"
            (click)="reservationClicked(reservation)">
            <div fxFlex="auto" fxLayoutAlign="center center">
                <div class="hour" fxLayoutAlign="center center">
                    <h3 class="font-light text-white">12:30</h3>
                </div>
            </div>
            <div fxFlex="80%" class="info-container" fxLayout="column"  fxLayoutAlign="center start">
                <p>{{reservation.name}}</p>
                <p class="font-light">{{reservation.phoneNumber}}</p>
                <p class="font-light font-small">{{reservation.numberOfGuests}} gości</p>
            </div>
            <div fxFlex="20%" fxLayout="column" fxLayoutAlign="end end" class="additional-info-container">
                <div class="special-icons-container">
                    <mat-icon *ngIf="reservation.isSpecial" class="special-guest-icon">star</mat-icon>
                    <mat-icon *ngIf="reservation.isVegan" class="vegan-menu-icon">local_florist</mat-icon>
                </div>
            </div>
        </li>
    </ul>
</div>
