/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body 
{ 
    margin: 0; 
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2F3137;
}

:root {
  --dark-input-color:#2F3137;
  --dark-input-placeholder-color: #757575;
}

.selectable-item {
    cursor: pointer;
}

.text-white {
    color: white;
}
.font-light {
  font-weight: 100;
}
.font-small {
  font-size: 0.8em;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff20;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff40;
  }


  /* Buttons styles */
  .button {
    padding: 0.5em 1em;
    font-size: medium;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 4px;
  }
  .button-primary {
    background-color: #0085FF;
    color: white;
  }
  .button-primary:hover {
    background-color: #007df0;
  }
  .button-primary:active {
    background-color: #0078e7;
  }
  .button-primary:focus {
    outline: #0085ff50 solid 4px;
  }