/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body 
{ 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #2F3137;
}

.selectable-item {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-white {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff20;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff40;
  }
