::ng-deep app-reservations-date-selection .mat-form-field {
    width: 100%;
    border-radius: 5px !important;
    background-color: var(--dark-input-color);
    color: white;
}
::ng-deep app-reservations-date-selection .mat-form-field-wrapper {
    padding: 0;
    padding: .1em .3em .1em .6em;
}
::ng-deep app-reservations-date-selection .mat-form-field-flex {
    padding: 0 !important;
    align-items: center;
}
::ng-deep app-reservations-date-selection .mat-form-field-infix {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
::ng-deep app-reservations-date-selection mat-hint {
    display: none;
}
::ng-deep app-reservations-date-selection .mat-form-field-underline {
    display: none;
}
::ng-deep app-reservations-date-selection .mat-button-focus-overlay {
    display: none;
}
::ng-deep .mat-icon-button {
    color: white;
}
.mat-input-element::placeholder{
    color: var(--dark-input-placeholder-color);
 }