::ng-deep app-reservations-date-selection .mat-form-field {
    width: 100%;
    background-color: #2F3137 !important;
    color: white;
    font-weight: 100;
}
::ng-deep app-reservations-date-selection .mat-form-field-wrapper {
    padding: 0;
    padding: .3em .3em .3em .6em;
}
::ng-deep app-reservations-date-selection .mat-form-field-flex {
    padding: 0 !important;
    align-items: center;
}
::ng-deep app-reservations-date-selection .mat-form-field-infix {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
::ng-deep app-reservations-date-selection mat-hint {
    display: none;
}
::ng-deep app-reservations-date-selection .mat-form-field-underline {
    display: none;
}
::ng-deep app-reservations-date-selection .mat-button-focus-overlay {
    display: none;
}
::ng-deep .mat-icon-button {
    color: white;
}